POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=users_db

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_URI=amqp://admin:admin@localhost:5672

JWT_SECRET=your-super-secret-jwt-key-should-be-long-and-secure

HOST=0.0.0.0
PORT=3002
