HOST=0.0.0.0
PORT=3001

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=users_db

RABBITMQ_URI=amqp://rabbitmq:rabbitmq@localhost:5672

SERVICE_QUEUE=users-service
