HOST=0.0.0.0
PORT=3000

JWT_SECRET=your-jwt-secret-key

RABBITMQ_URI=amqp://rabbitmq:rabbitmq@localhost:5672

USERS_SERVICE_QUEUE=users-service
AUTH_SERVICE_QUEUE=auth-service
ACCOUNTS_SERVICE_QUEUE=accounts-service
